export LXD_CLUSTER_PASSWORD=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://Home-Lab/klustered-lxd-password/password")
export LXD_CLUSTER_CI_CERT=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://Home-Lab/klustered-lxd-password/lxd.crt")
export LXD_CLUSTER_CI_KEY=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://Home-Lab/klustered-lxd-password/lxd.key")

export OP_CONNECT_TOKEN=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://Home-Lab/OP_CONNECT_TOKEN/credential")
export OP_CONNECT_HOST=$(/mnt/c/Users/steve/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe read "op://Home-Lab/1password-credentials.json/host")
